/.venv/
/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Database / exports
/driving_exams/data/*.db
/driving_exams/data/*.sqlite
/driving_exams/data/*.sqlite3

# IDEs
/.vscode/
/.idea/

# packaging outputs
/build/
/dist/
/dist-deb/
/packaging/arch/src/
/packaging/arch/pkg/
/packaging/arch/*.tar.gz
/packaging/arch/*.pkg.tar.*
